  body {
      background-color: rgb(0, 75, 214);
      padding: 0%;
      margin: 0%;
  }
  
  .container {
      display: grid;
      height: 100vh;
      grid-template-columns: 1fr;
      grid-template-rows: 50px 30px 1fr 30px;
    }

    .header{
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .sidebar{
      padding-left: 20px;
      display: flex;
      justify-content: left;
      align-items: center;
      background-color: rgba(0, 153, 255, 0.591);
      gap: 20px;
      color: white;
    }
    
    .content{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
    }

    .card-footer{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2rem;
      color: white;
    }

    .divworker{
      object-fit: cover;
    }



.menu-container {
  display: flex;
}

.menu {
  display: inline-block;
  padding: 10px 10px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-decoration: none;      /* remove underline */
  border-radius: 5px;         /* rounded edges */
  transition: all 0.3s ease;  /* smooth hover */
  cursor: pointer;
}

/* Hover effect */
.menu:hover {
  background-color: rgb(0, 213, 255);
  color: white;
  box-shadow: 0 0 10px rgb(0, 149, 255);
}



