h1{
    width: 100%;
    text-align: center;
    background-color: rgb(1, 72, 139);
    color: rgb(255, 255, 255);
    padding: 1%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.worker {
    margin: 0;
    height: auto;
    width: 40%;
    margin-left: 30%;
}
hr{
     color: rgb(1, 72, 139);
}

footer{
   text-align: center;
   background-color: rgb(1, 72, 139);
   color: rgb(255, 255, 255);
   padding: 1%;
   margin: 0;
}