h1{
    text-align: center;
    background-color: rgb(1, 72, 139);
    color: rgb(255, 255, 255);
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
  }

.worker {
    height: 25%;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
}

.main {
  flex: 1; /* This pushes the footer down */
  padding: 20px;
}


footer{
  text-align: center;
  background-color: rgb(1, 72, 139);
  color: rgb(255, 255, 255);
  padding: 15px;
}